# This is a template. Feel free to change stuff to your liking.
# Comments are provided to help you understand what each command does.
# Usually, with .gitignore files, we specify which files we want to ignore, but each IDE produces different output that we don't want.
# So instead of explicitly saying what we don't want, we explicitly say what we do want, so there is never something we never wanted to add.

# Ignore everything.
*

# Keep those files.
!/.gitignore
!/CMakeLists.txt
!/README.md

# Keep those directories.
!/include/
!/src/

# Keep the contents of those directories.
!/include/**
!/src/**
